body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    background-color: #1b1b1c;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.main {
    margin-top: 70px;
}

.loaderBg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
}

.loader {
    width: 55px;
    aspect-ratio: 1;
    --g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #fff 0);
    --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l7 1.5s infinite;
}

@keyframes l7 {
    0% {
        background-position: 0 0, 0 100%, 100% 100%
    }

    25% {
        background-position: 100% 0, 0 100%, 100% 100%
    }

    50% {
        background-position: 100% 0, 0 0, 100% 100%
    }

    75% {
        background-position: 100% 0, 0 0, 0 100%
    }

    100% {
        background-position: 100% 100%, 0 0, 0 100%
    }
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.slick-list {
    overflow: hidden; /* Скрываем элементы за пределами видимой области */
    margin: 0 auto; /* Центрируем слайды */
}

.slick-track {
    display: flex;
    justify-content: center;
}